/*  Variables  */

:root {
  --basic-black: #000000;
  --black-light: #333333; /*описания + гост/мотел/апарты и цена*/
  --basic-white: #FFFFFF;
  --brown: #766357;  /* кнопки Поиск гостиницы, забронировать + меню Гостиницы */
  --brown-double: #604E43; /* кнопка Поиск гостиницы при наведении */
  --brown-dark: #503E33;   /* кнопка Поиск гостиницы при нажатии */
  --blue: #81B3D2;
  --basic-grey: #EEEEEE;  /* блок три причины */
  --grey-grey: #666666;   /* рейтинг текст*/
  --grey-light: #F2F2F2;  /*поле даты заезда/выезда + рейтинг фон*/
  --grey-light-double: #EBEBEB;  /*поле даты заезда/выезда  при наведении*/
  --grey-light-light: #E5E5E5;  /* рамка для поля даты заезда/выезда при фокусе */
  --grey-dark: #A9A9A9; /*кнопки -/+ */
  --background: #888888;
  --basic-dark: #C0C0C0;  /*  ??? */
  --extra-color: #FFE4B5;   /*временно, для самопроверки*/
  --rgba-white-9: rgba(255, 255, 255, 0.9);
}

/*  GLOBAL  */

body {
  width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
}

/*  MAIN NAVIGATION  */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.site-navigation {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-item a:link {
  color: var(--basic-black);
}

.menu-item a:visited {
  color: var(--basic-black);
  opacity: 0.3;
}

.menu-item a:hover {
  color: var(--blue);
}

.menu-item a:active {
  color: var(--brown);
}



/*  WELCOM to the gorgeous SEDONA  */

.big-photo {
  width: 1200px;
  height: 509px;
  top: 55px;
  background-color: var(--extra-color);  /*временно. для наглядности*/
}

h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.subtitle {
  font-size: 14px;
  line-height: 26px;
}


/*  ПРИЧИНА 1  */

.reason-1-leftblock {  /*голубой блок*/
  width: 400px;
  height: 256px;
  background-color: var(--blue);
}

.reason-heading-white { /*настоящий городок*/
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
 }

.reason-number-white { /*- № 1 -*/
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}

.reason-description-white { /*Седона - не аттракцион....*/
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}


/*  ФУНКЦИИ САЙТА  */

.features-list {
  list-style: none;
}

.icon {
  color: var(--blue);
}

.features-item-name {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features-description-black {
  font-size: 14px;
  line-height: 21px;
}


/*  ПРИЧИНА 2  */

.reason-2-rightblock {  /*голубой блок 2*/
  width: 400px;
  height: 256px;
  margin-left: 800px;
  background: var(--blue);
}


/*  ПРИЧИНЫ 3-5  */

.reasons-last {
  list-style: none;
}

.block-grey {
  background-color: var(--grey);
}

.reason-heading-black {  /*название причин*/
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.reason-number-black {   /*- № -*/
  font-size: 14px;
  line-height: 21px;
}

.description-black {     /*описание*/
  font-size: 14px;
  line-height: 21px;
 }


 /*  ЗАИНТЕРЕСОВАЛИСЬ?  */

.interest {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}

.booking-request {         /* Укажите даты поездки.. */
  font-size: 14px;
  line-height: 24px;
}

.panel-booking {          /* коричневый блок */
  width: 568px;
  height: 86px;
  background-color: var(--brown);
}

.search {                 /* кнопка "Поиск гостины в Седоне" */
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
}

input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--grey-light);
  border: none;
}

.check-in {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  /*margin-left: 55px;
  margin-right: 55px;
  margin-top: 55px;*/
}

.check-out {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  /*margin-left: 55px;
  margin-right: 55px;
  margin-top: 29px;*/
}

.people-amount {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
 /* margin-left: 55px;
  margin-right: 55px;
  margin-top: 30px;*/
}

.button {
  font-size: 21px;
  color: var(--basic-white);
  font-weight: 700;
  background-color: var(--blue);
  /*margin-left: 55px;
  margin-right: 55px;
  margin-top: 54px;
  margin-bottom: 55px;
  width: 458px;
  height: 58px;
  border: none;*/
}

/*   КАРТА  */
.map {
  width: 1199px;
  height: 594px;
  top: 2169px;
  left: 1px;
  background-color: var(--extra-color);
}

/*     ПОДВАЛ    */
.footer {
  background-color: var(--rgba-white-9);
}

.contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: var(--blue);
}

.copyright {
  font-size: 14px;
  line-height: 26px;
}




