/*  Variables  */

:root {
  --basic-black: #000000;        /*базовый текст*/
  --black-light: #333333;        /*описания + гост/мотел/апарты и цена*/
  --anthracite: #231F20;         /*лого html academy в покое*/
  --basic-white: #FFFFFF;        /*базовый текст*/
  --brown: #766357;              /*кнопки Поиск гостиницы, забронировать + меню Гостиницы*/
  --brown-double: #604E43;       /*кнопка Поиск гостиницы при наведении*/
  --brown-dark: #503E33;         /*кнопка Поиск гостиницы при нажатии*/
  --blue: #81B3D2;
  --blue-double: #669EC0;        /*кнопка найти при наведении*/
  --blue-dark: #5496BD;          /*кнопка найти при нажатии*/
  --basic-grey: #EEEEEE;         /*блок три причины*/
  --grey-grey: #666666;          /*рейтинг текст*/
  --grey-light: #F2F2F2;         /*поле даты заезда/выезда + рейтинг фон*/
  --grey-light-double: #EBEBEB;  /*поле даты заезда/выезда  при наведении*/
  --grey-light-light: #E5E5E5;   /*рамка для поля даты заезда/выезда при фокусе*/
  --grey-CACACA: #CACACA;        /*стрелки сортировки вверх/вниз*/
  --grey-dark: #A9A9A9;          /*кнопки -/+*/
  --grey-dirty: #6A6A6A;         /*рамки и галки фильтров заблокированные*/
  --grey-smoky: #BDBBBC;         /*лого html academy при нажатии*/
  --back-shadow:rgba(0, 1, 1, 0.2);         /*фон по бокам*/
  --extra-color: #FFE4B5;        /*временно, для самопроверки*/
  --extra-red: 	#FF0000;         /*временно, для самопроверки*/
  --extra-green: #138678;        /*временно, для самопроверки*/
  --extra-orange: #ff8c1a;       /*временно, для самопроверки*/
  --extra-blue: #1a1dff;         /*временно, для самопроверки*/
  --background-footer: rgba(255, 255, 255, 0.9);
  --back: #888888;                /* фон за страницей */

}

/*  GLOBAL  */

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
 }

 a {
   text-decoration: none;
}

.page {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  /*background-color: var(--grey-CACACA);*/
}

.body {
  grid-template-rows: min-content 1fr min-content;
  box-shadow: 0px 5px 15px var(--back-shadow);

  /*outline: 9px dashed var(--black-light);
  outline-offset: -9px;*/
 }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}


/*  ---------  HEADER  --------- */

.header {
  width: 1200px;
  margin:  0;
  padding: 0;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.site-navigation { list-style: none; }

.menu-item a:link    { color: var(--basic-black); }
.menu-item a:visited { color: var(--basic-black);  opacity: 0.3; }
.menu-item a:hover   { color: var(--blue);  }
.menu-item a:active  { color: var(--brown); }


.main-navigatin-wrapper {
  position: relative;
}

/*  ЛОГОТИП  */
.header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  /*left: calc(50%-69px);*/
  /*outline: 1px solid green;
    outline-offset: -1px;*/
}

.site-navigation {
  width: 100%;
  min-height: 56px;
  margin:  0;
  padding: 0;
  display: flex;
    /*outline: 2px solid red;
    outline-offset: -2px;*/
}

.menu-item-left {
  width: 100%;
  min-height: 56px;
  margin:  0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center ;
  flex-wrap: wrap;
  /*outline: 5px solid green;
    outline-offset: -5px;*/
}

.menu-item-right {
  width: 100%;
  min-height: 56px;
  margin:  0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center ;
  flex-wrap: wrap;
  /*outline: 5px solid skyblue;
    outline-offset: -5px;*/
}

.menu-item-left li:nth-child(1) { margin-left:  72px;}
.menu-item-left li:nth-child(2) { margin-left: 134px;}
.menu-item-right li:nth-child(1) { margin-right: 147px;}
.menu-item-right li:nth-child(2) { margin-right:  72px;}


/*  ---------------   M A I N   --------------  */

.container {
  margin:  0 auto;
  padding: 0;

  /*outline: 5px dotted blue;
  outline-offset: -5px;*/
}

.big-photo {
 height: 509px;
}

.big-photo {
  display: grid;
  grid-template-columns: 1fr;
}

.mask {
  width: 100%;
  height: 57px;
  margin-top: -56px;
      /*outline: 1px solid red;
    outline-offset: -1px;*/
}

.lettering {
  width: 457px;
  height: 355px;
  margin-top: -433px;
  margin-left: 371px;
  /*outline: 2px solid red;
  outline-offset: -2px;*/
}


/* ЗАГОЛОВОК */
.main-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 124px;
  padding: 0;
  /*outline: 3px solid skyblue;
  outline-offset: -3px;*/
}

.subtitle {
  font-size: 14px;
  line-height: 26px;
  margin-top: 40px;
  margin-bottom: 50px;
  /*outline: 3px solid blue;
  outline-offset: -3px;*/
}


.main-slogan {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-rows: 1fr;
  justify-content: center;
  text-align: center;

  /*outline: 4px solid green;
  outline-offset: -4px;*/
}




/*  -----   ПРИЧИНА 1  -----    */

     /*голубой блок*/
.reason-1-leftblock {
  width: 400px;
  height: 256px;
  background-color: var(--blue);
}

.photo-little-1 {
  width: 800px;
  height: 256px;
}

/*настоящий городок*/
.reason-heading-white {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
 }

 /*- № 1 -*/
.reason-number-white {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}

/*Седона - не аттракцион....*/
.reason-description-white {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}

/* GRID & FLEX */
.reason-1 {
  display: flex;
  margin:  0 ;
  padding: 0;
  height: 100%;
}

.reason-1-leftblock {
  margin: 0 ;
  padding:  0;
  text-align: center;
}

.reason-heading-white {
  margin-top: 47px;
  margin-bottom: 25px;
}

.reason-number-white {
  margin-bottom: 23px;
}


/*  -------   ФУНКЦИИ САЙТА  --------- */

.features-list {
  /*outline: 10px solid orchid;
    outline-offset: -10px;*/
  margin:  0;
  padding: 0;
  list-style: none; }

.icon { color: var(--blue); }

.features-item-name {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features-description-black {
  font-size: 14px;
  line-height: 21px;
}


.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 330px;
  margin:  0 ;
  padding: 0;
  text-align: center;
}

.features-item {
  text-align: center;
  padding-top: 60px;
}


/*  ---------  ПРИЧИНА 2 ---------  */

.reason-2-rightblock {
  width: 400px;
  height: 256px;
  background: var(--blue);
}

.photo-little-2 {
  width: 800px;
  height: 256px;
}


.reason-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin:  0;
  padding: 0;
  height: 100%;
}

.reason-2-rightblock {
  text-align: center;
}


/*  ----------  ПРИЧИНЫ 3-5  ---------- */

.reasons-last {
  list-style: none;
  margin:  0;
  padding: 0;
}

.block-grey { background-color: var(--grey); }

/*название причин*/
.reason-heading-black {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

 /*- № -*/
.reason-number-black {
  font-size: 14px;
  line-height: 21px;
}

/*описание*/
.description-black {
  font-size: 14px;
  line-height: 21px;
}

.reasons-last{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 256px;
  text-align: center;
  background-color: var(--basic-grey);
}

.reason-last-item {
  margin:  0;
  padding-top: 35px;
  padding-bottom: 44px;
  text-align: center;
}



/* ////////////   ЗАИНТЕРЕСОВАЛИСЬ?   //////////  */


.common {
  display: flex;
  flex-direction: column;
  align-items: center;
   /*outline: 3px solid skyblue;
  outline-offset: -3px;*/
}

.pre-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center ;
  height: 205px;
  /*outline: 2px solid red;
  outline-offset: -2px;*/
}

.interest {
  display: block;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  margin-top:  58px ;
  margin-bottom: 0;
}

.booking-request {
  display: block;
  font-size: 14px;
  line-height: 24px;
  margin-top: 38px;
  margin-bottom: 50px;
  /*outline: 3px solid skyblue;
  outline-offset: -3px;*/
}

.booking-wrapper {
  display: flex;
  flex-direction: column;
  width: 568px;
  margin-top: 0px;
  position: relative;
  /*outline: 2px solid blue;
  outline-offset: -2px;*/
}

.search {
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--brown);
  display: flex;
  align-items: center;
  justify-content: center;

}

.search:link {
  color: var(--basic-white);
  background-color: var(--brown); }

.search:hover {
  color: var(--basic-white);
  background-color: var(--brown-double); }

.search:active {
  color: var(--basic-white); opacity: 0.3;
  background-color: var(--brown-dark); }



.form-booking {
  color: var(--basic-black);
  width: 568px;
  height: 395px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  margin-top: 86px;
  /*padding-top: 1px;
  padding-bottom: 1px;*/
  position: absolute;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--back-shadow);
}

/*  ДАТА  ЗАЕЗДА  */
.booking {
  margin:  0 ;
  padding: 0 ;
  display: flex;
  margin: 55px;
  margin-bottom: 29px;
  align-items: baseline;
}

.booking-date-cld {
  display: flex;
  margin-left: 24px;
  margin-right: 0px;
  position: relative;
}

.booking-input {
  color: var(--basic-black);
  background-color:  var(--grey-light);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  border: none;
  display: block;
  width: 345px;
  height: 38px;
  box-sizing: border-box;
  padding-left: 13px;

  /*outline: 2px solid red;
  outline-offset: -2px;*/
}

.cld{
  position: absolute;
  right: -1px;
  top: 0px;
  width: 38px;
  height: 38px;

  /*outline: 1px solid blue;
  outline-offset: -1px;*/
}

.calendar {
  background-color: var(--grey-light);
  height: 38px;
  border: none;
  text-decoration: none;

  /*outline: 3px dashed green;
  outline-offset: -3px;*/
}

.calendar-svg {
  fill: var(--grey-dark);
}

.booking-input:hover {
  background-color: var(--grey-light-double);
}

.calendar:hover {
  background-color: var(--grey-light-double);
}

.calendar:hover svg {
  fill: var(--basic-black);
}

.booking-input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--grey-light-light);
}

.calendar:active {
  background-color: var(--grey-light-double);
}

.calendar:active svg { fill: var(--blue);
}



.out .booking-date-cld {
  margin-left: 20px;
}

.out {
  margin-top: 29px;
}


/* ДЕТИ  ВЗРОСЛЫЕ  */

.people-amount {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  display: flex;
  align-items: baseline;
  width: 458px;
  justify-content: start;
  margin-left: 55px;
  margin-left: 55px;

  /*outline: 2px solid skyblue;
  outline-offset: -2px;*/
}

.booking-input-people {
  width: 114px;
  height: 38px;
  color: var(--basic-black);
  background-color: var(--grey-light);
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  border: none;
  margin-left: 38px;
  text-align: center;

  /*outline: 2px solid red;
  outline-offset: -2px;*/
}

.block-adl {
  position: relative;
}

/*  минус */
.cld-minus {
  position: absolute;
  top: 0px;
  left: 115px;
  width: 37px;
  height: 40px;

  /*outline: 1px solid blue;
  outline-offset: -1px;*/
}

.button-minus {
  background-color: var(--grey-light);
  margin-top: 0px;
  width: 40px;
  height: 35px;
  text-decoration: none;
  border: none;

  /*outline: 3px dashed green;
  outline-offset: -3px;*/
}

.cld-minus-svg {
  fill: var(--grey-dark);
  text-align: center;
}


/* наведение */
.booking-input-people:hover {
  background-color: var(--grey-light);
}

.button-minus:hover {
background-color: var(--grey-light);
}

.button-minus:hover svg {
  fill: var(--basic-black);
}



/* нажатие */

.booking-input-people:active {
  background-color: var(--grey-light);
}

.button-minus:active {
background-color: var(--grey-light);
}

.button-minus:active svg {
  fill: var(--blue);
}






/*  плюс */
.cld-plus {
  position: absolute;
  top: 0px;
  left: 188px;
  width: 40px;
  height: 37px;

  /*outline: 1px solid blue;
  outline-offset: -1px;*/
}

.button-plus {
  background-color: var(--grey-light);
  margin-top: 0px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  border: none;

  /*outline: 3px dashed green;
  outline-offset: -3px;*/
}

.cld-plus-svg {
  fill: var(--grey-dark);
  text-align: center;
}


/* наведение */
.booking-input-people:hover {
  background-color: var(--grey-light);
}

.button-plus:hover {
background-color: var(--grey-light);
}

.button-plus:hover svg {
  fill: var(--basic-black);
}



/* нажатие */

.booking-input-people:active {
  background-color: var(--grey-light);
}

.button-plus:active {
background-color: var(--grey-light);
}

.button-plus:active svg {
  fill: var(--blue);
}







/*  KIDS  */

.block-kid {
  margin-left: 44px ;
  position: relative;
}

.block-kid .booking-input-people {
  margin-left: 27px;
}


/*  минус */
.cld-minus-kid {
  position: absolute;
  top: 0px;
  left: 70px;
  width: 37px;
  height: 38px;

  /*outline: 1px solid blue;
  outline-offset: -1px;*/
}

.button-minus-kid {
  background-color: var(--grey-light);
  margin-top: 0px;
  width: 40px;
  height: 35px;
  text-decoration: none;
  border: none;

 /* outline: 3px dashed green;
  outline-offset: -3px;*/
}

.cld-minus-svg-kid {
  fill: var(--grey-dark);
  text-align: center;
}


/* наведение */
.booking-input-people:hover {
  background-color: var(--grey-light);
}

.button-minus-kid:hover {
background-color: var(--grey-light);
}

.button-minus-kid:hover svg {
  fill: var(--basic-black);
}



/* нажатие */

.booking-input-people:active {
  background-color: var(--grey-light);
}

.button-minus-kid:active {
background-color: var(--grey-light);
}

.button-minus-kid:active svg {
  fill: var(--blue);
}






/*  плюс */
.cld-plus-kid {
  position: absolute;
  top: 0px;
  left: 144px;
  width: 40px;
  height: 37px;

  /*outline: 1px solid blue;
  outline-offset: -1px;*/
}

.button-plus-kid {
  background-color: var(--grey-light);
  margin-top: 0px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  border: none;

  /*outline: 3px dashed green;
  outline-offset: -3px;*/
}

.cld-plus-svg-kid {
  fill: var(--grey-dark);
  text-align: center;
}


/* наведение */
.booking-input-people:hover {
  background-color: var(--grey-light);
}

.button-plus-kid:hover {
background-color: var(--grey-light);
}

.button-plus-kid:hover svg {
  fill: var(--basic-black);
}



/* нажатие */

.booking-input-people:active {
  background-color: var(--grey-light);
}

.button-plus-kid:active {
background-color: var(--grey-light);
}

.button-plus-kid:active svg {
  fill: var(--blue);
}



/*  НАЙТИ  */
.booking-button-find {
  display: block;
  width: 458px;
  height: 58px;
  border: none;
  font-size: 21px;
  line-height: 27px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--blue);
  text-align: center;
  margin: 55px 55px;
}

.booking-button-find:hover  { background-color: var(--blue-double); }
.booking-button-find:active { background-color: var(--blue-dark); opacity: 0.3; }


.local-map {
  width: 1199px;
  height: 594px;

  /*outline: 3px dashed blue;
  outline-offset: -3px*/
}






/* *********************************       HOTEL       ****************************** */

/*  BODY  */
.hotels {
  grid-template-rows: min-content 1fr min-content;
  box-shadow: 0px 5px 15px green /*var(--back-shadow)*/;

  outline: 9px dashed var(--black-light);
  outline-offset: -9px;
}

/*  MAIN  */
.main-hotel {
  /*height: 100%;
    width: 1054px;
  padding: 0 73px;
  /*width: 1054px;
  margin: 0 73px;
  outline: 2px dashed var(--black-light);
  outline-offset: -2px*/


  width: 1054px;

  outline: 5px dotted blue;
  outline-offset: -5px;


}

.temporarily {
  width: 1200px;
  margin: 0 auto;
  margin-left: -73px;
  background-image: url("file:///C:/Users/Hp/1596451-sedona-29/img/IMG_9190.jpg");
  background-repeat: repeat;
}

.hotel-form {
  display: flex;
  width: auto;
  margin: 0 73px;
  height: 217px;
  justify-content: space-between;

  /*outline: 5px solid green;
  outline-offset: -5px;*/
}

.left {
  display: flex;
  /*outline: 7px dotted rgb(138, 30, 66);
  outline-offset: -7px;
  /*width: 410px;*/
  padding-top: 30px;
}

.filter-group {
  font-size: 16px;
  color: var(--basic-white);
  font-weight: 400;
  /*outline: 2px solid green;
  outline-offset: -2px;*/

}

.filter-group-title {
  font-weight: 700;
  color: var(--basic-white);
  /*outline: 2px solid red;
  outline-offset: -2px;*/
}

.line1 {
   /*outline: 2px solid blueviolet;
  outline-offset: -2px;*/
  margin-top: 30px;
  margin-bottom: 23px;
}

.line3 {
  /*outline: 2px solid blueviolet;
  outline-offset: -2px;*/
  margin-top: 22px;
}

.type { margin-left: 119px; }

.rght {
  display: flex;
  flex-direction: column;
  /*outline: 1px solid blue;
  outline-offset: -1px;*/
  width: 317px;
  padding-top: 30px;
  align-items: center;
}

.rght span { align-self: flex-start; margin-bottom: 16px;}


.filter-item {
  display: flex;
  align-items: center;
  color: var(--basic-white);
}


.filter-item span {  margin-left: 16px; }
/*.line1 span { margin-left: 14px; }*/


.filter-checkbox-path,
.filter-checkbox-path:hover {
  fill: var(--basic-white);
}

.filter-checkbox-path:disabled {
  fill: var(--grey-dirty);
}

.filter-price {
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: var(--blue); /* временно, пока нет фона */
  text-align: center;
}

.from-till { display: flex;  width: 317px; }
.from { width: 153px; height: 20px; }
.till { width: 150px; height: 20px; margin-left: 2px; }

.ovals { display: flex; margin-top: 20px; }



.filter-price-button {
  color: var(--basic-white);
  font-weight: normal;
  text-transform: uppercase;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: var(--blue);  /* кнопка д.б. прозрачной*/
  width: 137px;
  height: 36px;
   /*text-decoration: none;*/
}

.filter-price-button:link {
  color: var(--basic-white);
}

.filter-price-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.sort {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  outline: 1px solid blue;
  outline-offset: -1px;
  height: 86px;
  width: 100%;
  /*margin-bottom: 30px;*/
}

.sort-sort {
  display: flex;

  /*outline: 5px dotted red;
  outline-offset: -5px;*/
}

.sorting-span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 245px;
  margin: 0;
  padding: 0;
  /*outline: 5px solid rgb(58, 238, 51);
  outline-offset: -5px;*/
}

.sorting-span b {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-right: 46px;

}

.sorting-group-ul {
  display: flex;
  justify-content: space-between;
  width: 240px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 35px;
  /*outline: 3px solid green;
  outline-offset: -3px;*/
}

.up-down {
  display: flex;
  align-items: center;
  margin-right: 0px;
 /*outline: 1px solid green;
  outline-offset: -1px;*/
}

.sorting-icon-current {
  margin-left: 12px;
}
.sorting-type a {
  color: var(--basic-black);
  opacity: 0.3;
  text-decoration: underline;
}

.sorting-type a:hover {
  color: var(--blue);
  opacity: 1.0;
  text-decoration: underline;
}

.sorting-type a:active { color: var(--basic-black); }

/*текущая сортировка*/
.sorting-type-current a,
.sorting-type-current a:hover,
.sorting-type-current a:focus,
.sorting-type-current a:active {
  color: var(--blue);
  background-color: var(--basic-white);
}

/*  ВВЕРХ ВНИЗ  */
.sorting-icon:hover  { fill: var(--basic-black); }
.sorting-icon:active { fill: var(--blue); }

.sorting-icon-current,
.sorting-icon-current:hover,
.sorting-icon-current:active { fill: var(--blue); }


/*В А Р И А Н Т Ы  */

.var {
  display: flex;
  width: 1200px;  /*убрала width: 1054px; */
/*margin-left: 73px;  /*добавила */ /*нижняя АМАРА под границей и на нужном месте */
  /*усли убрать отступ - нижняя АМАРА под границей и вплотную к левому краю */
  outline: 4px dashed red;
  outline-offset: -4px;*/
}

.var-222 {
  display: flex;
  width: 1054px;
  margin: 0 73px;

  outline: 4px dashed seagreen;
  outline-offset: -4px;*/
}


.img-amara {
width: 135px;
height: 90px;
margin: 30px 0;
padding: 0;
}

/*  AMARA RESORT & SPA */
.var-info {
  display: block;
  width: 258px;
  height: 92px;
  margin-left: 30px;
  margin-top: 24px;
  /*outline: 1px solid green;
  outline-offset: -1px;*/
}

.offer-name-place {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.offer-name-place:hover {
  color: var(--blue);
}

.offer-name-place:active {
  color: var(--basic-black);
  opacity: 0.3;
}


/*ГОСТИНИЦА   ОТ 4000 Р.*/
.place-type {
  margin-top: 7px;
}

.offer-type-and-price {
  font-size: 14px;
  line-height: 21px;
  color: var(--black-light);
}

.rub {
  margin-left: 35px;
}

/*  ПОДРОБНЕЕ  ЗАБРОНИРОВАТЬ  */
.offer-details-and-booking {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  margin-top: 15px;
}

.offer-details {
  display: flex;
  width: 110px;
  height: 27px;
  align-items: center;
  justify-content: center;
  color: var(--basic-white);
  background-color: var(--blue) ;
}

.offer-details:hover {
  color: var(--basic-white);
  background-color: var(--blue-double) ;
}

.offer-details:active {
  color: var(--basic-white);
  opacity: 0.3;
  background-color: var(--blue-dark);
}

.offer-booking {
  display: flex;
  width: 142px;
  height: 27px;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  color: var(--basic-white);
  background-color: var(--brown);
}

.offer-booking:hover {
  color: var(--basic-white);
  background-color: var(--brown-double);
}

.offer-booking:active {
  color: var(--basic-white);
  opacity: 0.3;
  background-color: var(--brown-dark);
}




/* STARS */
.stars-rating {
  display: block;
  width: 110px;
  height: 92px;
  margin-top: 28px;
  margin-right: 0px;
  margin-left: 520px;   /* @ @ @ @ @ @ !!! */
    /*outline: 1px solid blue;
  outline-offset: -1px;*/
}

.stars {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
}

.offer-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  margin-top: 1px;
  color: var(--grey-grey);
  background-color: var(--grey-light);
}


/*.var-info-rating {
  display: flex;
  justify-content: space-between;
}/*


.delete {
  margin-top: 300px;
}


/*   -----------------------------        ПОДВАЛ       -------------------------------   */

.footer {
  background-color: var(--background-footer);
  display: flex;
  width: 1200px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: -125px;
  position: absolute;


/*outline: 1px solid seagreen;
outline-offset: -1px;*/
}

/*  КОНТАНКТЫ  */
.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  width: 225px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  margin-left: 124px;
  justify-content: center;
  text-align: center;
/*outline: 3px solid rgba(64, 224, 43, 0.61);
outline-offset: -3px;*/
}

.visitsdona {
  margin: 20px 0;
}
.tel {
  margin-bottom: 40px;
}


/*   СОЦИАЛЬНЫЕ СЕТИ   */
.social-icons {
display: flex;
list-style: none;
padding: 0;
margin:  0;
/*outline: 3px solid blue;
outline-offset: -3px;*/
flex-wrap: wrap;
justify-content: center;
margin-left: 0px;
}

.social-icons-item {
margin-left: 3px;
margin-right: 3px;
}

.social-icon-item-link {
display: flex;
width: 46px;
height: 48px;
align-items: center;
justify-content: center;
background-color: var(--blue);
}

.social-icon-item-link:hover {
background-color: var(--blue-double);
}
.social-icon-item-link:active svg {
background-color: var(--blue-dark);
opacity: 0.3;
}


/*   АВТОРСТВО   */

.author {
width: 200px;
margin-right: 138px;
display: flex;
justify-content: center;
align-items: center;
/*outline: 3px dashed green;
outline-offset: -3px;*/
}

.copyright {
  font-size: 14px;
  line-height: 26px;
  /*outline: 1px solid blue;
  outline-offset: -1px;*/
}

.logo-academy:link svg   { fill: var(--anthracite); }
.logo-academy:hover svg  { fill: var(--blue); }
.logo-academy:active svg { fill: var(--grey-smoky); }
.logo-academy { margin-left: 8px;}







